@model DoAn3.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div ng-controller="DonHangDetail" >
    <div id="myDiv">
        <h3>Đơn hàng</h3>

        <table class="table">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Tên khách hàng
                </th>
                <th>
                    Ngày lập
                </th>
                <th>
                    Tình trạng
                </th>
                <th>
                    Tổng tiền
                </th>
                <th></th>
            </tr>


            <tr>
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{data.TenKH}}
                </td>
                <td>
                    {{data.NgayLap.slice(6, -2) | date: 'dd-MM-yyyy'}}
                </td>
                <td>
                    {{data.TinhTrang}}
                </td>
                <td>
                    {{data.Tongtien | myCurrency}}
                </td>

            </tr>


        </table>
        <h4 class="text-primary mt-5">Chi tiết đơn hàng</h4>
        <table class="table">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Tên game
                </th>
                <th>
                    Ảnh game
                </th>
                <th>
                    Giá tiền
                </th>
                <th></th>
            </tr>


            <tr ng-repeat="data in cthd ">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{data.TenGame}}
                </td>
                <td>
                    <img ng-src="{{data.AnhGame}}" width="150" height="200" />
                </td>
                <td>
                    {{data.Gia | myCurrency}}
                </td>
                <td>
                    <a class="btn btn-warning" ng-href="/Admin/Games/Edit/{{data.MaGame}}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-primary" ng-href="/Admin/Games/Details/{{data.MaGame}}"><i class="fa-solid fa-circle-info"></i></a>
                    <a class="btn btn-danger"  ng-click="DeleteOrderDetail(data.MaGame)"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>


        </table>
    </div>
    
    <div class="d-flex ">
        <a ng-href="/Admin/DonHangs/Edit/{{data.MaDH}}" class="btn btn-success mr-5">Sửa đơn hàng</a>
        <a class="btn btn-danger ml-5 text-white" ng-click="Print()">In đơn hàng</a>

        <a href="/Admin/DonHangs/Index" class="btn btn-primary ml-5">Quay lại quản lý đơn hàng</a>

    </div>
</div>



@section scripts{

    <script>
        var myApp = angular.module("myApp", []).config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);

        myApp.filter('myCurrency', ['$filter', function ($filter) {
            return function (input) {
                input = parseFloat(input);
                input = input.toFixed(input % 1 === 0 ? 0 : 2);
                return input.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " ₫";
            };
        }]);

        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);

        myApp.controller("DonHangDetail", DonHangDetail);
        function DonHangDetail($scope, $http) {

            $http({
                method: "get",
                url: "/Admin/DonHangs/OrderDetail/" +Number(id),

            }).then(function (res) {
                $scope.data = res.data;

            });

            $http({
                method: "get",
                url: "/Admin/DonHangs/getCTDH/" + Number(id),

            }).then(function (res) {
                $scope.cthd = res.data;

            });

            $scope.Print =  function printPage() {
                var contentToPrint = document.getElementById('myDiv').innerHTML;
                var windowPopup = window.open('', '_blank', 'width=500,height=500');
                windowPopup.document.open();
                windowPopup.document.write('<html><head><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" /></head><body onload="window.print()">' + contentToPrint + '</body></html>');
                windowPopup.document.close();
            }

            $scope.DeleteOrderDetail = function (magame) {

                $http({
                    method: "post",
                    url: "/Admin/DonHangs/RemoveCartItem?id=" + Number(id) + "&magame=" + magame,

                }).then(function (res) {
                    window.location.reload();

                });

            }


        }
    </script>
}