@model IEnumerable<DoAn3.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex" style="justify-content:space-between;width:98%">
    <h3>Quản lý đơn hàng</h3>
    <div class="form-group ">
        <div class="text-primary">Sắp xếp</div>

        <div class="form-group ">
            <select class="form-control" id="filterGame" ng-model="myOrderBy">
                <option value="">-- Sắp xếp danh sách đơn hàng theo --</option>
                <option value="-MaDH">Sắp xếp theo mã giảm dần</option>
                <option value="MaDH">Sắp xếp theo mã tăng dần</option>
                <option value="-Tongtien">Sắp xếp theo giá giảm dần</option>
                <option value="Tongtien">Sắp xếp theo giá tăng dần</option>
            </select>
        </div>
    </div>
</div>

<div class="d-flex " style="justify-content:space-between;width:98%">
    <a href="/Admin/DonHangs/Create" class="text-light btn btn-primary" style="text-decoration:none;height:45px"> Thêm đơn hàng mới  </a>

    <div class="form-group w-25">
        <div class="form-group has-search d-flex">
            <input type="text" class="form-control" placeholder="Tìm kiếm hóa đơn của khách hàng tên..." ng-model="search">
        </div>
    </div>
</div>

<div ng-controller="DonHangIndex">
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Ngày lập
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Tổng tiền
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="data in filteredTodos | filter:search | orderBy:myOrderBy">
            <td>
                {{$index + 1}}
            </td>
            <td>
                {{data.TenKH}}
            </td>
            <td>
                {{data.NgayLap.slice(6, -2) | date: 'dd-MM-yyyy'}}
            </td>
            <td >
                <div class="d-flex">
                    <i class="fa-sharp fa-solid fa-arrows-rotate mr-2" ng-click="ChangStatus(data.MaDH,data.TinhTrang)"></i>

                    <div>{{data.TinhTrang}} </div>
                </div>
                
            </td>
            <td>
                {{data.Tongtien | myCurrency}}
            </td>
            <td>
                <a class="btn btn-warning" ng-href="/Admin/DonHangs/Edit/{{data.MaDH}}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-primary" ng-href="/Admin/DonHangs/Details/{{data.MaDH}}"><i class="fa-solid fa-circle-info"></i></a>
                <a class="btn btn-danger" href="" ng-click="DeleteButton(data.MaDH)"><i class="fa-solid fa-trash"></i></a>
                <a class="btn btn-primary" ng-href="/Admin/DonHangs/Export/{{data.MaDH}}"><i class="fa-solid fa-print"></i></a>
               
            </td>
        </tr>


    </table>
    <div class="d-flex justify-content-center">
        <pagination ng-model="currentPage"
                    total-items="games.length"
                    max-size="maxSize"
                    boundary-links="true">
        </pagination>
    </div>
</div>

@section scripts{
    <script>
        var myApp = angular.module("myApp", ['ui.bootstrap']).config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);
        myApp.filter('myCurrency', ['$filter', function ($filter) {
            return function (input) {
                input = parseFloat(input);
                input = input.toFixed(input % 1 === 0 ? 0 : 2);
                return input.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " ₫";
            };
        }]);

        myApp.controller("DonHangIndex", DonHangIndex);
        function DonHangIndex($scope, $http) {
            $scope.orderByMe = function () {
                
                $scope.myOrderBy = document.getElementById("filterGame").value;
            }

            $scope.DeleteButton = function (id) {
                var deleteItem = window.confirm("Bạn có muốn xóa đơn hàng này không ?")
                if (deleteItem == true) {

                    $scope.MaDH = Number(id);
                    window.location.reload();
                }
                $http({
                    method: "post",
                    url: "/Admin/DonHangs/DeleteConfirmed/?id=" + $scope.MaDH,
                    dataType: "json",
                    data: JSON.stringify($scope.MaDH)

                }).then(function (res) {
                    $scope.games = res.data;

                    $scope.$watch('currentPage + numPerPage', function () {
                        var begin = (($scope.currentPage - 1) * $scope.numPerPage), end = begin + $scope.numPerPage;

                        if (!$scope.games || !$scope.games.length) { return }
                        $scope.filteredTodos = $scope.games.slice(begin, end);
                    });
                });

            }

            $scope.filteredGames = {}
                , $scope.currentPage = 1
                , $scope.numPerPage = 10
                , $scope.maxSize = 5;

            $http({
                method: "get",
                url: "/Admin/DonHangs/DataIndex",
            }).then(function (res) {
                $scope.games = res.data;

                $scope.$watch('currentPage + numPerPage', function () {
                    var begin = (($scope.currentPage - 1) * $scope.numPerPage), end = begin + $scope.numPerPage;

                    if (!$scope.games || !$scope.games.length) { return }
                    $scope.filteredTodos = $scope.games.slice(begin, end);
                });
            });


            $http({
                method: "get",
                url: "/Admin/DonHangs/DataIndex",

            }).then(function (res) {
                $scope.datas = res.data;

            });

            $scope.ChangStatus = function (madh,tingtrang) {
                
                $http({
                    method: "post",
                    url: "/Admin/DonHangs/ChangStatus?MaDH=" + madh + "&tt=" + tingtrang,
                    

                }).then(function (res) {
                    $scope.games = res.data;

                    $scope.$watch('currentPage + numPerPage', function () {
                        var begin = (($scope.currentPage - 1) * $scope.numPerPage), end = begin + $scope.numPerPage;

                        if (!$scope.games || !$scope.games.length) { return }
                        $scope.filteredTodos = $scope.games.slice(begin, end);
                    });
                   
                });

            }
        }
    </script>

}



