
@{
    ViewBag.Title = "GameStore";
    Layout = "~/Views/Shared/KhoGameLayout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Content/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css" integrity="sha512-RntatPOhEcQEA81gC/esYoCkGkL7AYV7TeTPoU+R9zE44/yWxVvLIBfBSaMu78rhoDd73ZeRHXRJN5+aPEK53Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" defer integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" defer crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body ng-app="myApp">
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a href="/Home/Index" class="text-3xl ">GAME WORLD</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-xl-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Tìm kiếm game" ng-model="search">
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item  dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" id="reportDropdown" href="#" data-toggle="dropdown" aria-expanded="false">  </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="reportDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-file-pdf mr-2"></i>PDF
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-file-excel mr-2"></i>Excel
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-file-word mr-2"></i>doc
                            </a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" id="projectDropdown" href="#" data-toggle="dropdown" aria-expanded="false">  </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="projectDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-eye-outline mr-2"></i>View Project
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-pencil-outline mr-2"></i>Edit Project
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-language dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-language-icon">
                                <i class="flag-icon flag-icon-us" title="us" id="us"></i>
                            </div>
                            <div class="nav-language-text">
                                <p class="mb-1 text-black"></p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                            <a class="dropdown-item" href="#">
                                <div class="nav-language-icon mr-2">
                                    <i class="flag-icon flag-icon-ae" title="ae" id="ae"></i>
                                </div>
                                <div class="nav-language-text">
                                    <p class="mb-1 text-black">Arabic</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <div class="nav-language-icon mr-2">
                                    <i class="flag-icon flag-icon-gb" title="GB" id="gb"></i>
                                </div>
                                <div class="nav-language-text">
                                    <p class="mb-1 text-black">English</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">{{username.UserName}}</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                            <div class="p-3 text-center bg-primary">
                            </div>
                            <div class="p-2">
                                <h5 class="dropdown-header text-uppercase pl-2 text-dark">User Options</h5>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                                    <span>Inbox</span>
                                    <span class="p-0">
                                        <span class="badge badge-primary">{{gameNumber}}</span>
                                        <i class="mdi mdi-email-open-outline ml-1"></i>
                                    </span>
                                </a>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                                    <span>Profile</span>
                                    <span class="p-0">
                                        <span class="badge badge-success">1</span>
                                        <i class="mdi mdi-account-outline ml-1"></i>
                                    </span>
                                </a>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                    <span>Settings</span>
                                    <i class="mdi mdi-settings"></i>
                                </a>
                                <div role="separator" class="dropdown-divider"></div>
                                <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Actions</h5>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                                    <span>Lock Account</span>
                                    <i class="mdi mdi-lock ml-1"></i>
                                </a>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                                    <span>Log Out</span>
                                    <i class="mdi mdi-logout ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-email-outline"></i>
                            <span class="count-symbol bg-success"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <h6 class="p-3 mb-0 bg-primary text-white py-4">Messages</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/assets/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                                    <p class="text-gray mb-0"> 1 Minutes ago </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/assets/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                                    <p class="text-gray mb-0"> 15 Minutes ago </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/assets/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                                    <p class="text-gray mb-0"> 18 Minutes ago </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="p-3 mb-0 text-center">4 new messages</h6>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell-outline"></i>
                            <span class="count-symbol bg-danger"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0 bg-primary text-white py-4">Notifications</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-calendar"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-settings"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                                    <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-link-variant"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                    <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                                    <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="p-3 mb-0 text-center">See all notifications</h6>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper" ng-controller="GetGameFavourite">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">





                <ul class="nav">
                    <li class="nav-item nav-category">Tất cả game</li>
                    <li class="nav-item " onclick="ShowGalerry()">Trang chính</li>
                    <li class="nav-item" ng-repeat="data in nameGame | filter:search" ng-click="GetData(data.MaGame)" >
                        <a class="nav-link" ng-click="GetData(data.MaGame)">
                            <span class="icon-bg"><img ng-src="{{data.AnhGame}}" width="10" height="20" /></span>
                            <span class="menu-title" ng-click="GetData(data.MaGame,data.MaKhoGame)" onclick="HiddenGalerry()">{{data.TenGame}}</span>
                        </a>
                    </li>

                    <li class="nav-item documentation-link">

                    </li>
                    <li class="nav-item sidebar-user-actions">
                        <div class="user-details">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="sidebar-profile-img">

                                        </div>
                                        <div class="sidebar-profile-text">
                                            <p class="mb-1">{{username.UserName}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="badge badge-danger">{{gameNumber}}</div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item sidebar-user-actions">
                        <div class="sidebar-user-menu">
                            <a href="/Home/Index" class="nav-link">
                                <i class="fa-solid fa-house"></i>
                                <span class="menu-title">Trang chủ</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item sidebar-user-actions">
                        <div class="sidebar-user-menu">
                            <a href="/Users/Logout" class="nav-link">
                                <i class="mdi mdi-logout menu-icon"></i>
                                <span class="menu-title">Đăng xuất</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="container mx-auto" id="gallery">
                <div class="grid-cols-3 p-20 space-y-2 bg-current lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3">
                    <div class="w-full " ng-repeat="data in galerry">
                        <img class="rounded-lg" ng-src="{{data.AnhGame}}"
                             alt="{{data.TenGame}}" width="250" height="300">
                    </div>
                    
                </div>
            </div>
            <!-- partial -->
            <div class="main-panel" ng-repeat="data in inforGame" id="game">
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 bg-white">
                            <div class="m-6 ">
                                <div class="head flex">
                                    <div class="w-30 m-4">
                                        <img class="rounded-lg" ng-src="{{data.AnhGame}}" width="150" height="200" />
                                    </div>
                                    <div class="infor  w-70 m-4">
                                        <h2 class="mb-0 text-dark font-bold text-2xl">{{data.TenGame}}</h2>
                                        
                                        <div class="mt-10">
                                            <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" ng-click="Download(data.MaGame,kg.MaKhoGame)">
                                                <i class="fa-solid fa-download"></i>
                                                <span class="text-xl"  >{{TinhTrang}}</span>
                                            </button>
                                            <div class="btn btn-primary">
                                                <i class=" fa-solid fa-trash " ng-click="Delete(data.MaGame,kg.MaKhoGame)"> </i>
                                            </div>

                                        </div>
                                    </div>

                                </div>




                            </div>


                        </div>

                        <div class=" bg-white rounded-lg w-full mt-6">
                            <ul class="list-none flex justify-content-center p-4">
                                <li class="flex-auto text-black-900"></li>
                                <li class="flex-auto text-black-900">Tính năng</li>
                                <li class="flex-auto text-black-900">Mô tả</li>
                                <li class="flex-auto text-black-900">Lối chơi</li>
                                <li class="flex-auto text-black-900">Hướng dẫn</li>
                                <li class="flex-auto text-black-900">Mẹo</li>
                            </ul>
                        </div>
                        <div class=" bg-white rounded-lg w-full mt-6">
                            <p class="mb-0 text-black text-l p-6">{{data.MoTa}}</p>
                        </div>
                    </div>


                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial -->
        </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    @section scripts{
        <script src="~/Content/assets/js/dashboard.js"></script>
        <!-- End custom js for this page -->
        <script>

            function HiddenGalerry() {
                var galerry = document.getElementById("gallery");
                galerry.style.display = 'none';
            }

            function ShowGalerry() {
                var galerry = document.getElementById("gallery");
                galerry.style.display = 'block';
                var game = document.getElementById("game");
                game.style.display ='none'
            }


            var myApp = angular.module("myApp", []).config(['$qProvider', function ($qProvider) {
                $qProvider.errorOnUnhandledRejections(false);
            }]);;

            

            myApp.controller("GetGameFavourite", GetGameFavourite);
            function GetGameFavourite($scope, $http) {
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);

                $http({
                    method: "GET",
                    url: "/GameFavourites/GetGameFavourite?id=" + id,

                }).then(function (res) {
                    $scope.nameGame = res.data;
                    console.log("name game is: " + $scope.nameGame)

                });



                $http({
                    method: "GET",
                    url: "/GameFavourites/GetMaKG?id=" + id,

                }).then(function (res) {
                    $scope.kg = res.data;
                   

                });




                $scope.Delete = function (gid, mkg) {
                    

                    $http({
                        method: "post",
                        url: "/GameFavourites/DeleteGameFavourites?magame=" + gid + "&makg=" + mkg +"&userid=" +id,

                    }).then(function (res) {
                        $scope.check = res.data;
                        if ($scope.check) {
                            alert("Xóa thành công")
                            window.location.reload();
                        }
                        else {
                            alert("Xóa không thành công")
                        }


                    });
                }

                $scope.Download = function (gid, mkg) {


                    $http({
                        method: "GET",
                        url: "/GameFavourites/Downloaded?magame=" + gid + "&makg=" + mkg,

                    }).then(function (res) {
                        $scope.game = res.data;


                    });
                }


                $scope.GetData = function (gid,mkg) {
                    $http({
                        method: "GET",
                        url: "/GameFavourites/GetProduct?id=" + gid,

                    }).then(function (res) {
                        $scope.inforGame = res.data;
                        console.log("infor game is: " + $scope.inforGame)

                    });

                    $http({
                        method: "GET",
                        url: "/GameFavourites/Tinhtrang?magame=" + gid +"&makg="+mkg,

                    }).then(function (res) {
                        $scope.game = res.data;
                        if ($scope.game.TinhTrang == true) {
                            $scope.TinhTrang = "Đã tải xuống"
                            console.log(TinhTrang)
                        }
                        else {
                            $scope.TinhTrang = "Chưa tải xuống"
                            console.log(TinhTrang)
                        }
                        window.location.reload();

                    });
                }

                $http({
                    method: "GET",
                    url: "/GameFavourites/CountGameStore?id=" + id,

                }).then(function (res) {
                    $scope.gameNumber = res.data;
                    

                });


                $http({
                    method: "GET",
                    url: "/GameFavourites/Username?id=" + id,

                }).then(function (res) {
                    $scope.username = res.data;


                });

                $http({
                    method: "GET",
                    url: "/GameFavourites/GetGameFavourite?id=" + id,

                }).then(function (res) {
                    $scope.galerry = res.data;
                  

                });

            }

            myApp.controller("getLoaiMay", getLoaiMay);
            function getLoaiMay($scope, $http) {

                $http({
                    method: "GET",
                    url: "/Home/LayLoaimay"

                }).then(function (res) {
                    $scope.loaimay = res.data;

                });
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    }
    <!-- Custom js for this page -->

</body>
</html>


