@model DoAn3.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Cập nhật thông tin người dùng</h3>


   <div class="form-horizontal" ng-controller="Edit">
        

    <div class="form-group">
        <div class="col-md-10">
            <h6>
                Tên tài khoản

            </h6>
            <input type="text" class="form-control" ng-model="user.UserName" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <h6>
                Mật khẩu

            </h6>
            <input type="password" class="form-control" ng-model="user.Password" />
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-10">
                <h6>
                    Quyền người dùng

                </h6>
                <select class="form-control" ng-model="user.Role">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
        </div>

        <div class="d-flex">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập nhật" class="btn btn-success"  ng-click="EditData()"/>
                </div>
            </div>
            <div>
                <a class="btn btn-danger" href="/Admin/LoaiMays/Index">
                    Quay lại
                </a>
            </div>
        </div>
    </div>



@section scripts{
    <script>


        var myApp = angular.module("myApp", []).config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);
        myApp.controller('Edit', function ($scope, $http, $httpParamSerializerJQLike) {

            
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            $scope.user = {};
            $scope.user.UserID = id;
            $http({
                method: "GET",
                url: "/Admin/UsersAdmin/GetADataUser/" + Number(id)

            }).then(function (res) {
                $scope.infor = res.data;
                $scope.user.UserName = $scope.infor.UserName;
                $scope.user.Password = $scope.infor.Password;
                $scope.user.Role = $scope.infor.Role;

            });

            ///////////////////////////////////////////////////////////////////////////////////////
            $scope.EditData = function () {

                Token = angular.element('input[name="__RequestVerificationToken"]').attr('value');
                $scope.user.__RequestVerificationToken = Token;
                dataRequest = $scope.user;
                console.log(dataRequest);
                $http({
                    method: 'POST',
                    url: '/Admin/UsersAdmin/EditUser',
                    data: $httpParamSerializerJQLike(dataRequest),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' }

                }).then(function (res) {
                    $scope.data = res.data;
                    if ($scope.data == false) {
                        alert("Sửa bản ghi không thành công");
                    }
                    else {
                        alert("Sửa bản ghi thành công");
                        window.location.href = "/Admin/UsersAdmin/Index";
                    }
                });



            };
        });
    </script>
    }
