.pagination{
    align-items:center
}
.pagination > li {
    background-color: cornflowerblue;
    margin: 5px;
    text-align: center;
    width: 80px;
    border-radius: 5%;
    padding: 5px
}

.pagination > li > a{
    text-decoration:none;
    color:white;

}

