@model DoAn3.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết bài viết</h2>

<div ng-controller="DetailNew">

    <dl class="dl-horizontal container">
        <dt>
            Tiêu đề bài viết
        </dt>

        <dd>
            {{new.Title}}
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd ng-bind-html="Content">
        </dd>

        <dt>
            Ảnh minh họa
        </dt>

        <dd> 
            <img ng-src="{{new.Banner}}"  alt="{{new.Title}}" title="{{new.Title}}"/>
            
        </dd>

        <dt>
            Ngày đăng
        </dt>

        <dd>
            {{new.PublicDate.slice(6, -2) | date: 'dd-MM-yyyy'}}
        </dd>

        <dt>
            Tên loại game
        </dt>

        <dd>
            {{new.TenLoai}}
        </dd>

        <dt>
            Tên tác giả
        </dt>

        <dd>
            {{new.UserName}}
        </dd>

    </dl>
    <div class="d-flex">
        <a ng-href="/Admin/News/Edit/{{new.NewsID}}" class="btn btn-primary">Sửa bài viết</a>
        <a ng-href="/Admin/News/Index" class="btn btn-danger ml-2">Quay lại</a>
    </div>
</div>

@section scripts{
    <script>
        var myApp = angular.module("myApp", ['ngSanitize']).config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);


        myApp.controller("DetailNew", DetailNew);
        function DetailNew($scope, $http) {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);

            $http({
                method: "GET",
                url: "/News/DetailNew?id=" + Number(id)

            }).then(function (res) {
                $scope.new = res.data;
                $scope.Content = $scope.new.Content;

            });

        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.3/angular-sanitize.js" integrity="sha512-WsrQol2t85bun8XdIkjqTbNLgY54bCBgVZw+B+00eVritDAlCAcfYo92/53rFp63cKZpDa7t5r5lDDeKFcbUAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}