@model IEnumerable<DoAn3.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Quản lý bài viết</h3>

<div class="d-flex " style="justify-content:space-between;width:98%">
    <a href="/Admin/News/Create" class="text-light btn btn-primary " style="text-decoration:none;height:45px"> Thêm  bài viết mới  </a>

    <div class="form-group w-25 ">
        <div class="form-group has-search">
            <input type="text" class="form-control" placeholder="Search...." ng-model="search">
        </div>
    </div>
</div>
<div ng-controller="NewsIndex">
    <table class="table">
        <tr>
            <th class="text-center">
                STT
            </th>
            <th>
                Tiêu đề
            </th>

            <th>
                Ảnh minh họa
            </th>
            <th>
                Ngày đăng
            </th>
            <th>
                Loại game
            </th>
            <th>
                Tên người đăng
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="data in ListNews | filter:search">
            <td class="text-center">
                {{$index+1}}
            </td>
            <td class="w-25 ">
                {{data.Title}}
            </td>
            <td>
                <img ng-src="{{data.Banner}}" alt="{{data.Title}}" height="150" width="200" />
            </td>
            <td>
                {{data.PublicDate.slice(6, -2) | date: 'dd-MM-yyyy'}}
            </td>
            <td>
                {{data.TenLoai}}
            </td>
            <td>
                {{data.UserName}}
            </td>

            <td>
                <a class="btn btn-warning" ng-href="/Admin/News/Edit/{{data.NewsID}}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-primary" ng-href="/Admin/News/Details/{{data.NewsID}}"><i class="fa-solid fa-circle-info"></i></a>
                <a class="btn btn-danger" href="" ng-click="DeleteButton(data.NewsID)"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>


    </table>
    <div class="d-flex justify-content-center">
        <pagination ng-model="currentPage"
                    total-items="kh.length"
                    max-size="maxSize"
                    boundary-links="true">
        </pagination>
    </div>
</div>


@section scripts{
    <script>
        var myApp = angular.module("myApp", ['ui.bootstrap']).config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);

        myApp.controller("NewsIndex", NewsIndex);
        function NewsIndex($scope, $http) {

            $scope.ListNews = {}
                , $scope.currentPage = 1
                , $scope.numPerPage = 10
                , $scope.maxSize = 5;

            $scope.DeleteButton = function (id) {
                var deleteItem = window.confirm("Bạn có muốn xóa bài viết này không ?")
                if (deleteItem == true) {

                    $scope.NewsID = Number(id);
                    window.location.reload();
                }
                $http({
                    method: "post",
                    url: "/Admin/News/DeleteConfirmed/?id=" + $scope.NewsID,
                    dataType: "json",
                    data: JSON.stringify($scope.NewsID)

                }).then(function (res) {
                    $scope.alert = res.data;
                    if ($scope.alert == true) {
                        alert("Xóa bài viết thành công")
                    }
                    else {
                        alert("Xóa bài viết không thành công")
                    }
                });

            }
            $http({
                method: "get",
                url: "/Admin/News/GetAllNews",

            }).then(function (res) {

                $scope.news = res.data;

                $scope.$watch('currentPage + numPerPage', function () {
                    var begin = (($scope.currentPage - 1) * $scope.numPerPage), end = begin + $scope.numPerPage;

                    if (!$scope.news || !$scope.news.length) { return }
                    $scope.ListNews = $scope.news.slice(begin, end);
                });

            });
        }

    </script>
    }
