
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: #FCFCFC">

    <div class="page">

        <main class="page-content" data-cart="">
            <ul class="breadcrumbs">
                <li class="breadcrumb ">
                    <a href="https://gameworld1.mybigcommerce.com/" class="breadcrumb-label">Home</a>
                </li>
                <li class="breadcrumb is-active">
                    <a href="https://gameworld1.mybigcommerce.com/cart.php?suggest=6045dc73-eaeb-4fc1-a4e0-9fa2478691ed" class="breadcrumb-label">Thanh toán thành công</a>
                </li>
            </ul>



            <h1 class="page-heading" data-cart-page-title="">
            </h1>
            <p></p>



            <h1 class="page-heading" data-cart-page-title="">
                Thanh toán thành công
            </h1>
            <div data-cart-status="">
            </div>

            <div class="loadingOverlay" style="display: none;"></div>
            <a href="#" style="color:dodgerblue">Trở về mua sắm</a>





            <!-- snippet location cart -->
        </main>
    </div>

</div>

@section scripts{
}