@model IEnumerable<DoAn3.Models.KhoGame>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Quản lý kho game</h3>

<div class="d-flex " style="justify-content:space-between;width:98%">
    <a href="/Admin/KhoGame/Create" class="text-light btn btn-primary" style="text-decoration:none;height:45px"> Thêm kho game mới  </a>

    <div class="form-group w-25">
        <div class="form-group has-search d-flex">
            <input type="text" class="form-control" placeholder="Tìm kiếm kho game của khách hàng tên..." ng-model="search">
        </div>
    </div>
</div>
<div ng-controller="Index">
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên người dùng
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Mã kho game
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="data in ListKG | filter:search">
            <td>
                {{$index+1}}
            </td>
            <td>
                {{data.UserName}}
            </td>
            <td>
                {{data.TenKH}}
            </td>
            <td>
                {{data.MaKhoGame}}
            </td>
            <td>
                <a class="btn btn-warning" ng-href="/Admin/KhoGame/Edit/{{data.MaKhoGame}}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-primary" ng-href="/Admin/KhoGame/Details/{{data.MaKhoGame}}"><i class="fa-solid fa-circle-info"></i></a>
                <a class="btn btn-danger" href="" ng-click="DeleteButton(data.MaKhoGame)"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>


    </table>
    <div class="d-flex justify-content-center">
        <pagination ng-model="currentPage"
                    total-items="kg.length"
                    max-size="maxSize"
                    boundary-links="true">
        </pagination>
    </div>
</div>

@section scripts{
    <script>
        var myApp = angular.module("myApp", ['ui.bootstrap']).config(['$qProvider', function ($qProvider) {
            $qProvider.errorOnUnhandledRejections(false);
        }]);

        myApp.controller("Index", Index);
        function Index($scope, $http) {

            $scope.ListKG = {}
                , $scope.currentPage = 1
                , $scope.numPerPage = 10
                , $scope.maxSize = 5;

            $scope.orderByMe = function () {

                $scope.myOrderBy = document.getElementById("filterGame").value;
            }

            $scope.DeleteButton = function (id) {
                var deleteItem = window.confirm("Bạn có muốn xóa kho game này không ?")
                if (deleteItem == true) {

                    $scope.MaKhoGame = Number(id);
                    window.location.reload();
                }
                $http({
                    method: "post",
                    url: "/Admin/KhoGame/RemoveGameStore/?id=" + $scope.MaKhoGame,
                    dataType: "json",
                    data: JSON.stringify($scope.MaKhoGame)

                }).then(function (res) {
                    $scope.kg = res.data;

                    $scope.$watch('currentPage + numPerPage', function () {
                        var begin = (($scope.currentPage - 1) * $scope.numPerPage), end = begin + $scope.numPerPage;

                        if (!$scope.kg || !$scope.kg.length) { return }
                        $scope.ListKG = $scope.kg.slice(begin, end);
                    });
                });

            }

            

            $http({
                method: "get",
                url: "/Admin/KhoGame/GetDataKhoGame",
            }).then(function (res) {
                $scope.kg = res.data;

                $scope.$watch('currentPage + numPerPage', function () {
                    var begin = (($scope.currentPage - 1) * $scope.numPerPage), end = begin + $scope.numPerPage;

                    if (!$scope.kg || !$scope.kg.length) { return }
                    $scope.ListKG = $scope.kg.slice(begin, end);
                });
            });


            

            
        }

    </script>
    }
