@model DoAn3.Models.NhaPhatHanh

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Sửa nhà phát hành</h3>

<div ng-controller="Edit">
    <form ng-submit="addData()">

        <div class="form-horizontal">
            
            <div class="form-group">
                
                <div class="col-md-10">
                    <h6>
                        Tên nhà phát hành
                    </h6>
                    <input type="text" class="form-control" ng-model="nphs.TenNPH" name="name" required />
                    <p class="text-danger text-xs italic" ng-show="form.name.$touched && form.name.$invalid">Vui lòng điền đủ thông tin.</p>
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-md-10">
                    <h6>
                        Trụ sở
                    </h6>
                    <input type="text" class="form-control" ng-model="nphs.TruSo" name="ts" required />
                    <p class="text-danger text-xs italic" ng-show="form.ts.$touched && form.ts.$invalid">Vui lòng điền đủ thông tin.</p>
                </div>
            </div>

            <div class="d-flex">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                    </div>
                </div>
                <div>
                    <a class="btn btn-danger" href="/Admin/NhaPhatHanhs/Index">
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
        

        
        </form>
</div>
@section scripts{
    <script src="~/Areas/Admin/Contents/js/AngularJsAdmin/NhaPhatHanh.js"></script>
    }