<aside class="page-sidebar">
    <h1 class="page-heading">Blog</h1>

    <nav class="navList navList--aside">

        <div class="sidebarBlock" ng-controller="getListMachine">
            <h5 class="sidebarBlock-heading">Danh sách loại máy</h5>
            <ul class="navList-section">
                <li class="navList-item">
                    <ul class="navList-subSection">
                        <li class="navList-item" ng-repeat="data in datas">
                            <a class="navList-action" href="/Category/Detail/{{data.MaMay}}" alt="{{data.TenMay}}" title="{{data.TenMay}}">{{data.TenMay}}</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>

        <div class="sidebarBlock" ng-controller="getLoaiGame">
            <h5 class="sidebarBlock-heading">Danh sách loại game</h5>
            <ul class="navList-section">
                <li class="navList-item">
                    <ul class="navList-subSection">
                        <li class="navList-item" ng-repeat="data in loaigame">
                            <a class="navList-action" href="/Category/Detail/{{data.MaLoai}}" alt="{{data.TenLoai}}" title="{{data.TenLoai}}">{{data.TenLoai}}</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>


        <div class="sidebarBlock" ng-controller="getListGame">
            <h5 class="sidebarBlock-heading">Sản phẩm</h5>
            <ul class="productList" data-product-type="new">
                <li class="product" ng-repeat="data in datas | orderBy:'-MaGame'">
                    <article class="listItem">
                        <figure class="listItem-figure">
                            <img class="listItem-image" ng-src="{{data.AnhGame}}" alt="[Sample] Smith Journal 13" title="[Sample] Smith Journal 13">
                        </figure>
                        <div class="listItem-body">
                            <div class="listItem-content">
                                <div class="listItem-details">
                                    <h4 class="listItem-title">
                                        <a href="/Home/Detail/{{data.MaGame}}">{{data.TenGame}}</a>
                                    </h4>
                                </div>
                                <div class="listItem-actions">
                                    <div class="listItem-price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">{{data.GiaTien}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

            </ul>
        </div>

    </nav>
</aside>
